body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  border: solid 1px black;
}
.right {
  text-align: left;
  padding-left: 10px;
}

p {
  margin: 0;
}

div {
  margin: 10px 0;
}

.credit-card {
  border-radius: 5px;
  width: 98vw;
  height: 60vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.credit-card .card-type {
  padding: 0 8px;
  display: flex;
  justify-content: right;
}

.credit-card img {
  width: 20vw;
  height: auto;
}

.card-number {
  font-size: 2em;
}

.card-owner {
  text-align: left;
  padding: 0 15px;
}
.driver-license {
  display: flex;
  justify-content: space-around;
  width: 95vw;
  height: auto;
  border-radius: 10px;
  color: white;
  background-color: rgb(7, 75, 163);
}
.round {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}
.like {
  display: flex;
  justify-content: center;
}
.clickable-picture {
  width: 95vw;
  height: auto;
  margin: 15px 0;
}

.carousel {
  display: flex;
  flex-direction: column;
}

.iteration12 {
  display: flex;
  flex-wrap: wrap;
}

.red {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 2px solid black;
  width: 50px;
  height: 50px;
}

.white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  width: 50px;
  height: 50px;
}
